
body{
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    /* font-size: 14px; */
}

.navbar {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #0074a9, #54bbab) repeat scroll 0 0;
    height: 6em; 
}

.titulo {
    padding-top: 2%;
    padding-left: 10%;
    color: #FFF;
	font-size: 20px;
}

.centralizado {
    text-align: center;
}

.inferior {
 text-align: sub;
}

.cinza {
    color: #808080;
}

.azul{
    color: rgb(51, 122, 183);
}

.cinzaEscuro {
    color:  	#696969;
}


.conteudo {

    padding-left: 280px;
    padding-right: 280px;

}

.invisivel {
	display: none;
}

.disabled {
    opacity: 1.2;
    cursor: not-allowed;
}


/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
} 
 
img {
    border-radius: 50%;
    width: 10%;
} 



